.products__container {
  padding-top: 128px;
  padding-bottom: 98px;
  width: auto;
  max-width: 480px;
}

.products__first-title {
  margin-bottom: 15px;
}

.products__second-title {
  margin-bottom: 144px;
}

.products-list__item {
  text-align: center;
  padding-bottom: 41px;
  border-radius: 24px;

  &:nth-child(1) {
    background-color: $ice-cream;
  }

  &:nth-child(2) {
    background-color: $ice-coffee;
  }
  &:nth-child(3) {
    background-color: $milk-shake;
  }
  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products-list__image {
  display: inline-block;
  margin-top: -114px;
}

.products-list__title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $polar;
}

.products-list__dots {
  color: $polar;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}

.products-list__content {
  //   max-width: 200px;
  margin: 0 auto 30px;
  padding: 0 40px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;

  letter-spacing: 0.04em;

  color: $polar;
}

.products-list__button {
  @include flexbox;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50%;

  background-color: $polar;

  &:hover,
  &:focus {
    background-color: $btn2-hover;
  }
}

.products-list__icon {
  fill: $main;
}

// ПЕРЕЛОМ ДЛЯ ТАБЛЕТКИ!!!!

@include breakpoint(tablet) {
  .products__container {
    max-width: 970px;
  }

  .products-list {
    @include flexbox($jc: space-between, $ai: stretch);
  }

  .products-list__item {
    max-width: 285px;
    &:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .products__second-title {
    margin-bottom: 150px;
  }

  .products-list__content {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.76;
  }
}

// ПЕРЕЛОМ ДЛЯ ДЕСКТОПА!!!!

@include breakpoint(desktop) {
  .products__container {
    max-width: 100%;
  }

  .products__second-title {
    margin-bottom: 259px;
  }

  .products-list__item {
    max-width: 335px;
    padding-bottom: 50px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  .products-list__image {
    margin-top: -212px;
  }

  .products-list__title {
    font-size: 30px;
    line-height: 1.13;
  }

  .products-list__content {
    margin-bottom: 62px;

    font-size: 16px;
    line-height: 1.76;
  }
}

// .products__container {
//   padding-top: 121px;
//   padding-bottom: 98px;
//   width: auto;
//   max-width: 480px;
// }

// @media (min-width: 768px) {
//   .products__container {
//     margin-top: -78px;
//     max-width: 970px;
//     padding: 0 36px;
//   }
// }

// @media (min-width: 1200px) {
//   .products__container {
//     margin-top: -102px;
//     max-width: 100%;
//     padding: 0 115px;
//   }
// }

// .products__first-title {
//   margin-bottom: 15px;
//   margin-top: 135px;

//   transform: translate(0px, 120%);
//   opacity: 0;
//   transition: all 0.8s ease 0s;

//   &._active {
//     transform: translate(0px, 0px);
//     opacity: 1;
//   }
// }

// .products__second-title {
//   //   margin-bottom: 144px;
//   margin-bottom: 174px;
//   transform: translate(0px, 120%);
//   opacity: 0;
//   transition: all 0.8s ease 0s;

//   &._active {
//     transform: translate(0px, 0px);
//     opacity: 1;
//   }
// }

// .products-list__item {
//   text-align: center;
//   //   padding-bottom: 54px;
//   border-radius: 24px;
//   padding: 48px 28px;
//   &:nth-child(1) {
//     background-color: $ice-cream;
//   }

//   &:nth-child(2) {
//     background-color: $ice-coffee;
//   }
//   &:nth-child(3) {
//     background-color: $milk-shake;
//   }

//   @media (max-width: 767px) {
//     &:not(:last-child) {
//       margin-bottom: 230px;
//     }
//   }

//   transform: scale(0.3) translateY(-120%);
//   opacity: 0;
//   transition: all 0.8s ease 0s;

//   &._active {
//     transform: scale(1) translateY(0px);
//     opacity: 1;
//   }
// }

// @media (max-width: 1199px) and (min-width: 768px) {
//   .products-list {
//     display: flex;
//     // justify-content: normal;
//     // align-items: normal;
//     flex-wrap: wrap;
//   }
// }

// @media (min-width: 1200px) {
//   .products-list {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }

// @media (max-width: 1199px) and (min-width: 768px) {
//   .products-list__item {
//     width: calc((100% - 30px * 2) / 3);
//     padding: 52px 44px 61px;
//   }
// }
// @media (min-width: 1200px) {
//   .products-list__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// @media screen and (max-width: 1199px) and (min-width: 768px) {
//   .products-list__item:not(:last-child) {
//     margin-right: 20px;
//   }
// }

// @media (min-width: 1200px) {
//   .products-list__item {
//     width: calc((100% - 30px * 2) / 3);
//     padding: 48px 22px;
//   }
// }

// .products-list__image {
//   display: inline-block;
//   //   margin-top: -114px;
//   margin-top: -200px;
// }

// @media screen and (max-width: 1199px) and (min-width: 768px) {
//   .products-list__image {
//     margin-top: -145px;
//   }
// }

// .products-list__title {
//   font-family: Titan One;
//   font-size: 20px;
//   line-height: 1.15;
//   margin-top: 22px;
//   margin-bottom: 30px;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;

//   color: $polar;
// }

// .products-list__dots {
//   color: $polar;
//   font-size: 35px;
//   font-weight: 700;
//   line-height: 1;
//   margin-bottom: 30px;
// }

// .products-list__content {
//   //   max-width: 200px;
//   margin: 0 auto 30px;
//   padding: 0 40px;

//   font-family: DM Sans;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.52;

//   letter-spacing: 0.04em;

//   color: $polar;
// }

// .products-list__button {
//   @include flexbox;
//   margin: 0 auto;
//   width: 40px;
//   height: 40px;
//   border: transparent;
//   border-radius: 50%;

//   background-color: $polar;

//   &:hover,
//   &:focus {
//     background-color: $btn2-hover;
//   }
// }

// .products-list__icon {
//   fill: $main;
// }

// @include breakpoint(tablet) {
//   .products__container {
//     padding-top: 122px;
//     padding-bottom: 112px;
//   }
// }

// @include breakpoint(desktop) {
//   .products__container {
//     padding-top: 127px;
//     padding-bottom: 119px;
//   }
// }
