.development {
  background-color: $section-bg;
  text-align: center;
  background-image: url('../images/mobile/section2/milkbg.png');
  background-size: 100%;
  background-position-y: 80%;
  background-repeat: no-repeat;

  @include breakpoint(mobile) {
    background-image: url('../images/mobile/section2/milkbg.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/mobile/section2/milkbg@2x.png');
    }
  }

  @include breakpoint(desktop) {
    background-image: url('../images/desktop/section2/milkbg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/section2/milkbg@2x.png');
    }
  }
}

.development__container {
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 39px;
  width: 100%;

  @include breakpoint(tablet-to-desktop) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

.development__title {
  margin-bottom: 15px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 16px;
  }

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.development__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.development__subtitle {
  margin-bottom: 26px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 50px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 55px;
  }

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.development__subtitle._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.development__image {
  @include breakpoint(until-tablet) {
    margin-bottom: 46px;
  }
}

.development__flexbox {
  @include breakpoint(until-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include breakpoint(tablet) {
    align-items: center;
  }
}

.development__description {
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet-to-desktop) {
    margin-left: 17px;
  }

  @include breakpoint(desktop) {
    margin-left: 74px;
  }
}

.development__text {
  margin-bottom: 35px;
  font-family: DM Sans;
  color: $primary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  text-align: left;

  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 1.76;
  }
  @include breakpoint(desktop) {
    font-size: 16px;
  }
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.development__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

.development__text--part-one {
  color: $secondary;
  margin-bottom: 20px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 40px;
  }
}

.development__text--part-two {
  color: $secondary;
  margin-bottom: 26px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 62px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 32px;
  }
}

.development__button {
  align-items: center;
  justify-content: center;
  align-self: center;
  display: inline-flex;
  min-width: 176px;
  min-height: 44px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: $btn1-prod-loc;
  background-color: $polar;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;

  @include breakpoint(tablet) {
    align-self: start;
  }

  &:hover,
  &:focus {
    background-color: $btn2-hover;
    animation-duration: $tt;
    transition-timing-function: $tf;
  }
}

.button::after {
  content: '\003E';
  margin-left: 14px;
  color: $btn1-prod-loc;
}

.text__item {
  overflow: hidden;
}

.anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  transform: translate(0px, 0px);
  opacity: 1;
}

.development__description {
  &.active {
    div {
      @for $var from 1 to 3 {
        $delay: $var * 0.2;
        &: nth-child(#{$var}) {
          if $var==1 {
            transition: transform 0.8s ease 0s;}
            @else {
              transition: transform 0.8s ease #{$delay + s}
            }
          }
        }
      }
    }
  }
}
