.development {
  background-color: $section-bg;
  text-align: center;
  background-image: url('../images/mobile/section2/milkbg.png');
  background-size: 100%;
  background-position-y: 80%;
  background-repeat: no-repeat;

  @include breakpoint(mobile) {
    background-image: url('../images/mobile/section2/milkbg.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/mobile/section2/milkbg@2x.png');
    }
  }

  @include breakpoint(desktop) {
    background-image: url('../images/desktop/section2/milkbg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/section2/milkbg@2x.png');
    }
  }
}

.development__container {
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 39px;
  width: 100%;

  @include breakpoint(from-mobile) {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  @include breakpoint(tablet-to-desktop) {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  @include breakpoint(desktop) {
    padding-top: 125px;
    padding-bottom: 39px;
  }
}

.development__title {
  margin-bottom: 15px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 16px;
  }

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;

  &._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.development__subtitle {
  margin-bottom: 26px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 50px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 55px;
  }

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}

.development__subtitle._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.development__image {
  @include breakpoint(until-tablet) {
    margin-bottom: 46px;
  }

  opacity: 0;
  transition: all 0.3s ease 0.1s;
}

.development__image._active {
  opacity: 1;
  animation: crescendo 1s alternate ease 0.1s;
}

@keyframes crescendo {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.development__flexbox {
  @include breakpoint(until-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include breakpoint(tablet) {
    align-items: center;
  }
}

.development__description {
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet-to-desktop) {
    margin-left: 17px;
  }

  @include breakpoint(desktop) {
    margin-left: 74px;
  }
}

.development__text {
  margin-bottom: 35px;
  font-family: DM Sans;
  color: $primary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  text-align: left;

  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 1.76;
  }
  @include breakpoint(desktop) {
    font-size: 16px;
  }
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.development__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

.development__text--part-one {
  color: $secondary;
  margin-bottom: 20px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 40px;
  }
}

.development__text--part-two {
  color: $secondary;
  margin-bottom: 26px;

  @include breakpoint(tablet-to-desktop) {
    margin-bottom: 62px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 32px;
  }
}

.development__button {
  align-items: center;
  justify-content: center;
  align-self: center;
  display: inline-flex;
  min-width: 176px;
  min-height: 44px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: $btn1-prod-loc;
  background-color: $polar;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;

  transform: scale(1);

  @include breakpoint(tablet) {
    align-self: start;
  }

  transform: translate(-120%, -0px) scale(0);
  opacity: 0;
  transition: transform 0.8s ease 0.5s;

  &._active {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }

  transition: all $tt $tf;

  &:hover,
  &:focus {
    transform: scale(1.1);
    background-color: $btn2-hover;
    // animation-duration: $tt;
    // transition-timing-function: $tf;
  }
}

.button::after {
  content: '\003E';
  margin-left: 14px;
  color: $btn1-prod-loc;
}

.text__item {
  overflow: hidden;
}

.text__item._active:nth-child(1) p {
  transition: all 0.8s ease 0.1s;
}

.text__item._active:nth-child(2) p {
  transition: all 0.8s ease 0.3s;
}

.text__item._active:nth-child(3) p {
  transition: all 0.8s ease 0.5s;
}
