.promo {
  font-family: 'Titan One';

  background: $section-bg;
}

.promo__container {
  @include breakpoint(tablet) {
    padding: 0 75px 0 35px;
  }

  @include breakpoint(desktop) {
    padding: 0 115px;
  }
}

.promo__list {
  @include breakpoint(from-mobile) {
    display: flex;
    margin-bottom: 140px;
  }

  @include breakpoint(tablet-to-desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;
  }

  @include breakpoint(desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;
  }
}

.promo__item {
  width: 100%;
  text-align: left;

  @include breakpoint(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
    &:last-child {
      margin-bottom: 54px;
    }
  }

  @include breakpoint(from-mobile) {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @include breakpoint(tablet-to-desktop) {
    width: calc((100% - 60px * 2) / 3);

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  @include breakpoint(desktop) {
    width: calc((100% - 30px * 2) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  opacity: 0;
  transform: rotate(-1600deg) scale(0);
  transition: all 0.8s ease 0s;
}

.promo__item._active {
  opacity: 1;
  transform: rotate(0) scale(1);

  &:nth-child(2) {
    transition: all 0.8s ease 0.2s;
  }

  &:nth-child(3) {
    transition: all 0.8s ease 0.4s;
  }
}

.promo__item::before {
  display: block;
  content: '';
  height: 50px;

  background-repeat: no-repeat;
  background-position: left;
}

.promo__icon:nth-child(1)::before {
  background-image: url(../images/svg_icon/icon1.svg);
}
.promo__icon:nth-child(2)::before {
  background-image: url(../images/svg_icon/icon2.svg);
}
.promo__icon:nth-child(3)::before {
  background-image: url(../images/svg_icon/icon3.svg);
}

.promo__title {
  @include font(36px, 1.86);
  letter-spacing: 0.04em;
  color: $main;

  @include breakpoint(tablet) {
    margin-bottom: 13px;
    @include font(48px, 1.86);
    color: $main;
  }

  @include breakpoint(desktop) {
    margin-bottom: 15px;
    @include font(58px, 1.86, 400);
    color: $main;
  }
}

.promo__text {
  font-family: 'DM Sans';

  @include font(12px, 1.5);
  color: $primary;

  @include breakpoint(tablet) {
    @include font(14px, 1.66);
    color: $primary;
  }

  @include breakpoint(desktop) {
    @include font(16px, 1.7);
    color: $primary;
  }
}

.promo__picture-container {
  width: 100%;
  height: 37px;
  margin-bottom: 50px;
  background-color: #fff5f6;

  @include breakpoint(mobile-to-tablet) {
    height: 98px;
    margin-bottom: 132px;
  }

  @include breakpoint(tablet) {
    height: 207px;
    margin-bottom: 220px;
  }

  @include breakpoint(desktop) {
    height: 207px;
    margin-bottom: 226px;
  }
}

.promo__collage {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin: 0 auto;

  // opacity: 0;
  // transform: scale(0);
  transition: all 0.5s ease 0s;

  // &._active {
  //   opacity: 1;
  // }

  &._active .grid-item {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.1s;
  }
  &._active .grid-item:nth-child(2) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.2s;
  }
  &._active .grid-item:nth-child(3) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.3s;
  }
  &._active .grid-item:nth-child(4) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.4s;
  }
  &._active .grid-item:nth-child(5) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.5s;
  }
  &._active .grid-item:nth-child(6) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.6s;
  }
  &._active .grid-item:nth-child(7) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.7s;
  }
  &._active .grid-item:nth-child(8) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.8s;
  }
  &._active .grid-item:nth-child(9) {
    // transform: scale(1);
    animation: crescendo 1s alternate ease 0.9s;
  }
}

@keyframes crescendo {
  0% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.grid-item {
  z-index: 1;
  margin-bottom: 10px;
  width: 200px;

  transition: all $tt linear;

  @include breakpoint(mobile-only) {
    width: 40px;
    margin-bottom: 5px;
  }

  @include breakpoint(mobile-to-tablet) {
    width: 85px;
    margin-bottom: 5px;
  }

  @include breakpoint(tablet-to-desktop) {
    width: 150px;
  }

  &:hover {
    z-index: 2;
    transform: scale(1.3);
  }
}

img {
  width: 100%;
  border-radius: 20px;
  transition: all $tt $tf;

  @include breakpoint(mobile-only) {
    border-radius: 5px;
  }
}

// .masonry-effect:hover {
//   -webkit-transform: scale(1.05, 1.05);
//   -moz-transform: scale(1.05, 1.05);
//   transform: scale(1.2, 1.2);
//   z-index: 99;
// }
