.slider {
  padding-top: 80px;
  padding-bottom: 80px;
}

.slider-one {
  &__card:focus {
    outline-color: transparent;
  }

  &__image {
    width: 85px;
    height: 85px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 29px;
  }

  &__box {
    margin-bottom: 30px;
    padding: 43px 57px 20px 66px;

    text-align: center;
    font-family: DM Sans;
    @include font(12px, 2.55);

    background-color: $slider;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__text::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4px, -15px);
    z-index: -1;
    content: '';
    display: block;
    width: 54px;
    height: 40px;
    background-image: url('../images/svg_in_sprite/quotes.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.slider-two {
  &__card {
    padding: 0 74px;
  }
  &__dots-list {
    @include flexbox();
    margin-bottom: 18px;
  }

  &__dots-item {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $btn1-hover;
  }
  &__dots-item:not(:last-child) {
    margin-right: 10px;
  }

  &__info {
    text-align: center;
    font-family: DM Sans;
    @include font(14px, 1.86);
  }

  .slick-dots {
    @include flexbox();
    margin-top: 30px;
  }

  .slick-dots li {
    list-style: none;
    margin-right: 10px;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 18px;
  }

  .slick-dots li button {
    font-size: 0;
    display: block;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
  }

  .slick-dots li.slick-active button {
    outline: none;
    border-radius: 0;
    z-index: 3;
    background-image: url('../images/svg_in_sprite/home.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

@include breakpoint(tablet) {
  .slider-one__box {
    margin-bottom: 24px;
  }

  .slider-two__dots-list {
    margin-bottom: 14px;
  }
}

@include breakpoint(until-tablet) {
  .slider-one__box {
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
  }
}

@include breakpoint(desktop) {
  .slider-one__box {
    max-width: 926px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }
}
