.locations {
  font-family: 'DM Sans', sans-serif;
  padding-bottom: 29px;
  /*паддинг должен быть 113 - корректировка*/
  background: $section-bg;

  @include breakpoint(tablet-to-desktop) {
    /*паддинг должен быть 158 - корректировка*/
    padding-bottom: 80px;
  }
  /*паддинг должен быть 165px - корректировка*/
  @include breakpoint(desktop) {
    padding-bottom: 63px;
  }

  &-wraper {
    position: relative;
    top: -84px;
    max-width: 480px;
    padding: 0 50px;

    @include breakpoint(tablet) {
      top: -78px;
      max-width: 970px;
      padding: 0 36px;
    }

    @include breakpoint(desktop) {
      top: -102px;
      max-width: 1280px;
      padding: 0 115px;
    }
  }
}

.locations {
  &__list {
    @include breakpoint(tablet-to-desktop) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 81px;
    }

    @include breakpoint(desktop) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 86px;
    }
  }

  &__item {
    width: 100%;
    padding: 43px 20px;
    text-align: left;

    background: $polar;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include breakpoint(until-tablet) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:last-child {
        margin-bottom: 54px;
      }
    }
    @include breakpoint(tablet-to-desktop) {
      width: calc((100% - 20px * 2) / 3);
      padding: 50px 32px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @include breakpoint(desktop) {
      width: calc((100% - 30px * 2) / 3);
      padding: 52px 44px 61px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__caption {
    display: inline-block;
    margin-bottom: 25px;
    padding: 0 30px;

    @include font(12px, 1.86);
    letter-spacing: 0.04em;
    color: $polar;
    text-transform: uppercase;
    border-radius: 4px;

    @include breakpoint(tablet) {
      @include font(14px, 1.86);
      margin-bottom: 30px;
    }

    @include breakpoint(desktop) {
      @include font(16px, 1.86);
      margin-bottom: 32px;
    }

    &--cafe {
      background-color: $cafe;
    }

    &--truck {
      background-color: $truck;
    }
  }

  &__title {
    margin-bottom: 10px;
    @include font(12px, 1.86);
    letter-spacing: 0.04em;

    @include breakpoint(tablet) {
      margin-bottom: 14px;
      @include font(14px, 1.86);
    }

    @include breakpoint(desktop) {
      margin-bottom: 10px;
      @include font(16px, 1.86);
    }
  }

  &__text {
    margin-bottom: 25px;
    @include font(12px, 1.5);
    color: $secondary;

    @include breakpoint(tablet) {
      margin-bottom: 30px;
      @include font(14px, 1.66);
    }

    @include breakpoint(desktop) {
      margin-bottom: 32px;
      @include font(16px, 1.83);
    }
  }

  &-schedule {
    margin-bottom: 25px;
    padding: 25px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    @include breakpoint(tablet) {
      margin-bottom: 30px;
      padding: 30px 0;
      @include font(14px, 1.86);
    }

    @include breakpoint(desktop) {
      margin-bottom: 32px;
      padding: 32px 0;
      @include font(16px, 1.86);
    }

    &__text {
      @include font(12px, 1.86);

      @include breakpoint(tablet) {
        @include font(14px, 1.86);
      }

      @include breakpoint(desktop) {
        @include font(16px, 1.86);
      }
    }

    &__time {
      @include font(12px, 1.86);
      color: $time;

      @include breakpoint(tablet) {
        @include font(14px, 1.86);
      }

      @include breakpoint(desktop) {
        @include font(16px, 1.86);
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.address-nav__link {
  @include font(12px, 1.5);
  color: $secondary;
  font-style: normal;

  @include breakpoint(tablet) {
    @include font(14px, 1.83);
  }

  @include breakpoint(desktop) {
    @include font(16px, 1.83);
  }
}

.locations-button-list {
  text-align: center;

  @include breakpoint(tablet) {
    @include flexbox();
  }
}

.button__location {
  /*Поменять флексы, как подправится флекс миксин*/
  /*display: flex;
  justify-content: center;

  align-items: center;
  flex-wrap: nowrap;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  height: 44px;
  padding: 0 17px;

  @include font(16px, 1.31, 700);
  letter-spacing: 0.06em;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;*/
  @include font(16px, 1.31, 700);
  letter-spacing: 0.06em;

  &::after {
      position: relative;
      top: 2px;
    }

  &--locations {
    margin-bottom: 10px;
    background-color: $btn1-prod-loc;
    color: $polar;

    &::after {
      color: $polar;
    }

    @include breakpoint(tablet) {
      margin-bottom: 0;
      margin-right: 15px;
    }

    &:hover,
    &:focus {
      background-color: $btn1-hover;
    }
  }

  &--franchise {
    background-color: $polar;
    color: $main;

    &:hover,
    &:focus {
      background-color: $btn2-hover;
    }

  }
}

/*.button {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: inline-flex;
  min-width: 176px;
  min-height: 44px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: $btn1-prod-loc; 
  background-color: $polar;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;
}

.button::after {
  content: '\003E';
  margin-left: 14px;
  color: $btn1-prod-loc;
}*/
