.container__relative {
  position: relative;
  width: 100%;
}

.header__flexbox {
  display: flex;
  @include breakpoint(until-desktop) {
    flex-direction: column;
  }
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 6px 20px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, 0%);

  @include breakpoint(mobile) {
    width: 100%;
  }
  @include breakpoint(tablet) {
    padding: 37px 34px 0 34px;
  }
  @include breakpoint(until-desktop) {
    width: 100%;
  }
  @include breakpoint(desktop) {
    justify-content: start;
    width: 1200px;
    padding: 46px 37px 0 37px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo {
  margin-right: 40px;
  @include breakpoint(desktop) {
    margin-right: 110px;
  }
}

.header__button {
  position: relative;

  padding: 3px;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  transition: $tt $tf;
  @include flexbox(flex, center);
  @include breakpoint(desktop) {
    display: none;
  }
  @include breakpoint(tablet) {
    margin-left: 30px;
  }
}

.header__button.is-open {
  position: absolute;
  top: 16px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(tablet) {
    top: 47px;
    right: 34px;
  }
}

.header__button--menu {
  color: $main;
  width: 1em;
  height: 1em;
  font-size: 24px;
}

.header__button--cross {
  text-align: center;
  color: $main;
  width: 1em;
  height: 1em;
  font-size: 24px;
}

.header__button.is-open .header__button--cross {
  display: block;
}

.header__button.is-open .header__button--menu {
  display: none;
}

// .fa.fa-bars {
//   font-size: 1.5rem;
//   pad: 2px;
//   color: $main;
// }

.header__button--cross,
.header__button--cross:active {
  display: none;
  stroke: $polar;
  transition: $tt $tf;
}

.header__button--menu,
.header__button--menu:active {
  stroke: $main;
  transition: $tt $tf;
}

.header__button:hover,
.header__button:focus {
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: $main;
  // color: $polar;
  box-shadow: 0 4px 10px rgba(212, 20, 67, 0.2),
    0 4px 10px rgba(212, 20, 67, 0.2);
  transform: scale(1.1);
}

.header__button.is-open:hover,
.header__button.is-open:focus {
  border: 1px solid transparent;
  background-color: $btn2-hover;
  box-shadow: 0 4px 10px rgba(212, 20, 67, 0.2),
    0 4px 10px rgba(212, 20, 67, 0.2);
}

.header__button:hover .header__button--cross,
.header__button:focus .header__button--cross {
  stroke: $main;
  transform: rotateZ(90deg);
}

.header__button:hover .header__button--menu,
.header__button:focus .header__button--menu {
  color: $btn2-hover;
}

.header__burger {
  @include breakpoint(until-desktop) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    min-width: 250px;
    height: 502px;
    padding-top: 60px;
    text-align: center;
    background-color: $menu-bg;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    transform: translateY(-120%);
    opacity: 0;
    transition: $tt $tf;
    &.is-open {
      transform: translateY(0);
      opacity: 1;
    }

    @include breakpoint(tablet-to-desktop) {
      padding-top: 40px;
      min-width: 270px;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }
}

.burger__btn {
  height: 44px;

  font: normal 700 16px/1.3 'DM Sans', sans-serif;

  color: $main;
  background-color: $polar;
  border-radius: 22px;
  border: 1px solid transparent;
  transition: $tt $tf;
  cursor: pointer;

  .header__burger.is-open + & {
    position: relative;
    right: 62px;
  }

  &--tab {
    @include breakpoint(desktop) {
      display: none;
    }
    @include breakpoint(until-tablet) {
      width: 209px;
    }
    @include breakpoint(until-desktop) {
      margin-left: 15px;

      width: 160px;
      margin-bottom: 19px;
    }
  }

  &--desk {
    @include breakpoint(until-tablet) {
      display: none;
    }

    @include breakpoint(tablet) {
      margin-left: auto;
      width: 160px;
    }
    @include breakpoint(desktop) {
      margin-left: 0;
      width: 159px;
    }
  }
}

.burger__btn:hover,
.burger__btn:focus,
.burger__btn:active {
  background-color: $btn2-hover;
  box-shadow: 0 4px 10px rgba(212, 20, 67, 0.2);
  transform: scale(1.1);
}

.navigation__list {
  @include breakpoint(desktop) {
    margin-right: 110px;
  }
}

.navigation__item {
  transition: color $tt $tf;

  @include breakpoint(until-desktop) {
    width: 100%;
    border: 1px solid $menu-border;
    margin-left: 0px;
    transition: $tt $tf;
    &:hover {
      box-shadow: 0 4px 10px rgba(212, 20, 67, 0.2);
    }
  }

  @include breakpoint(desktop) {
    & + & {
      margin-left: 24px;
    }
  }
}

.navigation__link {
  display: block;
  font: normal 700 14px/1.3 'DM Sans', sans-serif;
  color: $polar;
  padding: 12px 5px;
  transition: color $tt $tf;
  @include breakpoint(until-desktop) {
    text-align: left;
    padding-left: 12px;
    &:hover,
    &:focus,
    &:active {
      color: $main;
      transform: scale(1.1);
      background-color: $menu-bg;
      border-radius: 15%;
      box-shadow: 0 4px 10px rgba(212, 20, 67, 0.2);
      border: none;
    }
  }
  @include breakpoint(desktop) {
    @include font(16px, 1.3, 700);
    &:hover,
    &:focus,
    &:active {
      color: $main;
      transform: scale(1.1);
      border-radius: 33%;
      box-shadow: 0 4px 10px rgba(212, 20, 67, 0.2);
    }
  }
  &--current {
    color: $main;
  }
}
