.hero__indented {
  display: flex;
  justify-content: normal;
  background-color: $hero-bg;
  background-position: 50% 50%;
  max-width: 1600px;
  margin: 0 auto;

  @include breakpoint(mobile-to-tablet) {
    // max-width: 768px;
    height: 502px;
  }

  @include breakpoint(tablet-to-desktop) {
    // min-width: 768px;
    height: 399px;
    // padding: 0 34px;
  }

  @include breakpoint(desktop) {
    height: 665px;
  }
}

.hero__flex {
  // @include flexbox;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  @include breakpoint(mobile) {
    align-items: flex-start;
  }

  @include breakpoint(tablet-to-desktop) {
    align-items: flex-start;
    margin-right: 34px;
  }

  @include breakpoint(desktop) {
    align-items: flex-start;
    margin-right: 109px;
  }
}

.hero__position {
  display: block;
  z-index: 1;

  @include breakpoint(mobile) {
    width: 218px;
    margin-top: 193px;
    margin-left: 20px;
  }

  @include breakpoint(tablet-to-desktop) {
    width: 162px;
    margin-top: 102px; // шапка от лого 15px
    margin-left: 34px;
  }

  @include breakpoint(desktop) {
    width: 315px;
    margin-top: 171px;
    margin-left: 77px;
  }
}

.hero__order-title {
  //  @include font(26px, 1.15em, 400)
  color: $polar;
  font: normal 400 26px/1.15em 'Titan One', cursive;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;

  @include breakpoint(tablet-to-desktop) {
    font: normal 400 22px/1.14em 'Titan One', cursive;
    margin-bottom: 20px;
  }

  @include breakpoint(desktop) {
    font: normal 400 38px/1.16em 'Titan One', cursive;
    margin-left: 38px;
  }
}

.hero__order-title--accent {
  font: normal 400 48px/0.905em 'Titan One', cursive;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main;

  @include breakpoint(tablet-to-desktop) {
    font: normal 400 34px/0.905em 'Titan One', cursive;
  }

  @include breakpoint(desktop) {
    font: normal 400 58px/0.905em 'Titan One', cursive;
  }
}

.hero__button {
  font: normal 400 8px/1.25em 'DM Sans', sans-serif;
  min-width: 62.4px;
  height: 24px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background: $btn1-prod-loc;
  color: $btn2-franchise;
  transition: color 150ms linear;

  // transition: background-color $time $time-function;
  @include breakpoint(desktop) {
    font: normal 400 14px/1.29em 'DM Sans', sans-serif;
    width: 104px;
    height: 40px;
    margin-left: 38px;
  }

  &:hover,
  &:focus {
    background: $btn1-hover;
    color: $btn2-franchise;
  }
}

.hero__button--max {
  @extend .hero__button;
  min-width: 82.8px;
  background: $btn2-franchise;
  color: $btn1-prod-loc;
  margin-left: 8px;
  transition: color 150ms linear;

  @include breakpoint(desktop) {
    font: normal 400 14px/1.29em 'DM Sans', sans-serif;
    width: 138px;
    margin-left: 15px;
  }

  &:hover,
  &:focus {
    background: $btn2-hover;
    color: $btn1-prod-loc;
  }

}

.hero__hidden {
  display: none;

  @include breakpoint(tablet-to-desktop) {
    display: flex;
  }

  @include breakpoint(desktop) {
    display: flex;
  }
}

.hero__milk {
  width: 124px;
  margin-top: 19px;
  margin-bottom: 28px;

  @include breakpoint(desktop) {
    width: 188px;

    margin: 56px 33px 45px 0px;
  }
}

.hero__description {
  display: none;

  @include breakpoint(tablet-to-desktop) {
    position: absolute;
    display: block;
    width: 114px;
    margin-left: 154px;
    //  margin-bottom: 59px;
  }

  @include breakpoint(desktop) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    margin-top: 177px;
    margin-left: 295px;
    //  margin-bottom: 59px;
  }
}

.hero__text {
  font: normal 400 8px/1.5em 'DM Sans', sans-serif;
  margin-top: 292px; //шапка
  margin-bottom: 7px;
  color: $polar;

  @include breakpoint(desktop) {
    font: normal 400 14px/1.4em 'DM Sans', sans-serif;
    // margin-top: 414px; //шапка
    margin-bottom: 20px;
  }
}

.hero__icon-further {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: $btn2-franchise;
  fill: $btn1-prod-loc;
  transition: color 150ms linear;

  @include breakpoint(desktop) {
    width: 26px;
    height: 26px;
  }


  &:hover,
  &:focus {
    background-color: $btn2-hover;
    fill: $btn1-prod-loc;
  }
}

.hero__icon-arrow {
  width: 5px;
  height: 5px;

  @include breakpoint(desktop) {
    width: 7px;
    height: 7px;
  }
}

.hero__ice {
  display: flex;
  z-index: -1;
}

.hero__ice-img {
  position: absolute;
  width: 171px;
  bottom: 0;
  left: 117px;

  // transform: translateX(-50%);
  // z-index: 1;

  @include breakpoint(tablet-to-desktop) {
    width: 143px;
    // bottom: -13.5%;
    left: 307px;
    transform: translateX(50%);
  }

  @include breakpoint(desktop) {
    width: 236px;
    // bottom: -13.5%;
    left: 594px;
    //transform: translateX(-72%);
  }
}

.hero__ice-img::before {
  content: '';
  display: block;
  position: absolute;
  left: 81px;
  bottom: 75px;
  transform: translateX(-48%);
  background-color: $time;
  border-radius: 50%;
  z-index: -1;

  @include breakpoint(mobile) {
    width: 346px;
    height: 346px;
    bottom: 46px;
  }

  @include breakpoint(tablet-to-desktop) {
    width: 324px;
    height: 324px;
    bottom: 46px;
    left: 71px;
    transform: translateX(-40%);
  }

  @include breakpoint(desktop) {
    width: 538px;
    height: 538px;
    bottom: 75px;
    transform: translateX(-35%);
  }
}

.hero__decorate {
  display: none;

  @include breakpoint(tablet-to-desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // position: absolute;
    // left: 100%;
    // bottom: 0;
    // transform: translateX(220%);
    margin-top: 94px;
    // margin-right: 34px;
    text-align: right;
  }

  @include breakpoint(desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 156px;
    text-align: right;
    // position: absolute;
    // left: 100%;
    // bottom: 0;
    // transform: translateX(272%);
    //
    // margin-right: 109px; // для выравнивания по правому краю
    //
  }
}

// .hero__decorate-up {
//   display: none;

//   @include breakpoint(tablet-to-desktop) {
//     display: flex;
//     flex-direction: column;

//   }

//   @include breakpoint(desktop) {
//     display: flex;
//     flex-direction: column;
//   }

// }
.hero__text-min {
  // display: none;
  position: relative;
  margin-right: 8px;
  color: $polar;

  @include breakpoint(tablet-to-desktop) {
    font: normal 400 8px/1.25em 'DM Sans', sans-serif;
    letter-spacing: 0.04em;
    margin-bottom: 13px;
  }

  @include breakpoint(desktop) {
    font: normal 400 14px/1.28em 'DM Sans', sans-serif;
    margin-bottom: 15px;
  }
}

.hero__text-min::before {
  // display: none;
  content: '';
  position: absolute;
  left: 95%;
  display: block;
  background-color: $polar;
  border-radius: 50%;
  z-index: -1;

  @include breakpoint(tablet-to-desktop) {
    width: 16px;
    height: 16px;
  }

  @include breakpoint(desktop) {
    width: 30px;
    height: 30px;
  }
}

.hero__text-min--accent {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main;

  @include breakpoint(tablet-to-desktop) {
    font: normal 400 28px/1.145em 'Titan One', cursive;
    // margin-bottom: 19px;
  }

  @include breakpoint(desktop) {
    font: normal 400 46px/1.15em 'Titan One', cursive;
  }
}

// .hero__decorate-tasty {
//   display: none;

//   @include breakpoint(tablet-to-desktop) {
//     display: flex;
//   }
//    @include breakpoint(desktop) {
//      display: flex;
//    }
// }

.hero__tasty {
  @include breakpoint(tablet-to-desktop) {
    display: flex;
    justify-content: flex-end;
    width: 168px;
    margin-top: 62px;
  }

  @include breakpoint(desktop) {
    display: flex;
    justify-content: flex-end;
    width: 293px;
    margin-top: 109px;
  }
}