* {
  user-select: none;
}

// Пока что не имеет значения
// html {
// 	@include breakpoint(desktop) {
// 		margin-left: calc(100vw - 100%);
// 	}
// }

// Стандарт для рисунков
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Отключаем ресайз комментов
textarea {
  resize: none;
}

// Убираем подчеркивания ссылкам
a {
  text-decoration: none;
}

// Отключаем точки и отступы спискам
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

// Отключаем отступы абзацам и заголовкам
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

// Шрифты для основного контента
.body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}

// Шрифты для Заголовков
.title {
  font-family: 'Titan One', cursive;
}

.first-title {
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: $sub-title;

  @include breakpoint(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }

  @include breakpoint(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.second-title {
  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.15;

  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: $main;

  @include breakpoint(tablet) {
    font-size: 48px;
    line-height: 1.15;
  }

  @include breakpoint(desktop) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

/* SPECIAL CONTAINERS */

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 100%;

  @include breakpoint(tablet) {
    margin-left: auto;
    margin-right: auto;
    padding: 0 35px;
    max-width: 100%;
  }

  @include breakpoint(desktop) {
    margin-left: auto;
    margin-right: auto;
    padding: 0 115px;
    width: 1280px;
    //   outline: 2px solid tomato;
  }
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

// класс для скрытия контента из потока
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Общий класс кнопки
.button {
  transition: $tt $tf;
}

.button {
  &::after {
    position: relative;
    top: 2px;

    &:hover,
    &:focus {
      background-color: $btn2-hover;
    }
  }
}

// Отдельный класс для анимашек
.anim-show {
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  transform: translate(0px, 0px);
  opacity: 1;
}
