<section class="products">
  <h2 class="title visually-hidden">
    <span class="first-title">100% natural</span>
    <br />
    <span class="second-title">products</span>
  </h2>

  <ul class="products__list">
    <li class="products__item">
      <h3 class="prodacts__title">ice cream</h3>
      <p class="products__label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
  <ul>
    <li class="products__item--list">
      <h3 class="prodacts__title">ice coffee</h3>
      <p products__label>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
  <ul>
    <li class="products__item--list">
      <h3 class="title__item--list">milkshakes</h3>
      <p products__label>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
</section>
