<section class="development">
  <div class="development__container container">
    <h2 class="development__title first-title">tradition and love</h2>
    <h3 class="development__subtitle second-title">how it’s made?</h3>
    <div class="development__flexbox flexbox">
      <picture>
        <source
          srcset="
            ./images/mobile/section2/biocow.png    1x,
            ./images/mobile/section2/biocow@2x.png 2x
          "
          media="(max-width: 767px"
        />

        <source
          srcset="
            ./images/desktop/section2/biocow.png    1x,
            ./images/desktop/section2/biocow@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/section2/biocow.png    1x,
            ./images/tablet/section2/biocow@2x.png 2x
          "
          media="(min-width: 768px"
        />
             <img
          class="development__image image"
          src="./images/mobile/section2/biocow.png"
          alt="Кувшин молока на фоне пасущейся на лугу коровы"
        />
            </picture
      >
      <div class="development__description">
        < class="development__text">Fusce ut velit laoreet, tempus arcu eu,
        molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
        eros. Maecenas eleifend erat at justo fringilla.
        <p class="development__text development__text--part-one">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="development__text development__text--part-two">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="development__button button">Read more</button>
      </div>
    </div>
  </div>
</section>
