<section class="development">
    <div class="development__container container">
    <h2 class="development__title first-title">tradition and love</h2>
    <h3 class="development__subtitle second-title">how it’s made?</h3>
    <div class="development__image"></div>
    <p class="development__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.<p class="development__text development__text--part-one">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
        placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="development__text development__text--part-two">Aliquam erat volutpat. Aenean accumsan.</p></p>
    <button class="button">Read more</button>
    </div>
</section>

