<section class="development">
  <div class="development__container container">
    <h2 class="development__title first-title _anim-items _anim-no-hide">
      tradition and love
    </h2>
    <h3 class="development__subtitle second-title _anim-items _anim-no-hide">
      how it’s made?
    </h3>
    <div class="development__flexbox flexbox">
      <picture class="development__image">
        <img
          srcset="
            ./images/mobile/section2/biocow.png      280w,
            ./images/mobile/section2/biocow@2x.png   650w,
            ./images/tablet/section2/biocow.png      340w,
            ./images/tablet/section2/biocow@2x.png   680w,
            ./images/desktop/section2/biocow.png     516w,
            ./images/desktop/section2/biocow@2x.png 1032w
          "
          sizes="(min-width: 1280px) 516w, 
               (min-width: 768px) 340w, (min-width: 320px) 280w"
          src="./images/mobile/section2/biocow.png"
          alt="Кувшин молока на фоне пасущейся на лугу коровы"
          class="img"
        />
            </picture
      >
      <div class="development__description">
        <div class="text__item _anim-items _anim-no-hide">
          <p class="development__text _anim-show">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
        </div>
        <div class="text__item _anim-items _anim-no-hide">
          <p class="development__text development__text--part-one _anim-show">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
        </div>
        <div class="text__item _anim-items _anim-no-hide">
          <p class="development__text development__text--part-two _anim-show">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </div>
        <button class="development__button button">Read more</button>
      </div>
    </div>
  </div>
</section>
