<section id="menu-promo" class="promo">
  <div class="promo__container container">
    <ul class="promo__list">
      <li class="promo__item promo__icon _anim-items _anim-no-hide">
        <svg class="promo__icon" width="75" height="75">
          <use href="./images/icons/sprite.svg#icon-milk-tank"></use>
        </svg>
        <h2 class="promo__title">721</h2>
        <p class="promo__text">
          Aliquam ac dui vel dui vulputate <br />
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="promo__item promo__icon _anim-items _anim-no-hide">
        <svg class="promo__icon" width="75" height="75">
          <use href="./images/icons/sprite.svg#icon-apple-juice"></use>
        </svg>
        <h2 class="promo__title">16kg</h2>
        <p class="promo__text">
          Aliquam ac dui vel dui vulputate <br />
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="promo__item promo__icon _anim-items _anim-no-hide">
        <svg class="promo__icon" width="75" height="75">
          <use href="./images/icons/sprite.svg#icon-ice-cream"></use>
        </svg>
        <h2 class="promo__title">84</h2>
        <p class="promo__text">
          Aliquam ac dui vel dui vulputate <br />
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>

  <!-- ПЕРЕКЛЮЧАТЕЛЬ ДЛЯ ГАЛЕРЕЙ!!! -->
  <label class="switch__box" id="switch">
    <input type="checkbox" aria-controls="menu-gallery" />
    <span class="switch__slider round"></span>
    <span class="switch__info toggled" data-toggle>
      <span class="switch__info-masonry">Masonry</span>
      <span class="switch__info-flex">Flex</span>
    </span>
  </label>

  <!-- ДИВ ДЛЯ ПЕРЕКЛЮЧЕНИЯ ГАЛЕРЕЙ! -->

  <div class="gallery-box" id="menu-gallery" data-gallery>
    <!-- ГАЛЕРЕЯ ОКСАНА + МАКС -->

    <ul class="gallery _anim-items _anim-no-hide">
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/ice1.jpg"
              class="item-image"
              alt="ice-cream on plate"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/ice2.jpg"
              class="item-image"
              alt="hand holds pink ice-cream"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/ice3.jpg"
              class="item-image"
              alt="lots of pink ice-creams on table"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item gallery-item-big">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/ice-big.jpg"
              class="item-image"
              alt="lots of decorated ice creams on table"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/ice5.jpg"
              class="item-image"
              alt="girl's smile with ice-cream in hand"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/ice6.jpg"
              class="item-image"
              alt="lots of ice-cream on table"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/ice7.jpg"
              class="item-image"
              alt="hand holds ice cream"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item gallery-item-up">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/ice8.jpg"
              class="item-image"
              alt="dog licks ice cream"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/ice9.jpg"
              class="item-image"
              alt="ice cream cupcake"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/ice10.jpg"
              class="item-image"
              alt="ice cream vacation"
            />
          </div>
        </div>
      </li>
    </ul>

    <!-- ГАЛЕРЕЯ МАКС -->

    <div class="promo__picture-container">
      <div class="gallery-container">
        <div class="grid _anim-items _anim-no-hide">
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/promo-choco.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/promo-cupcake.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/promo-hold-orig.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/promo-lay.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/promo-amaze.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/promo-dog.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/promo-vac.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/promo-lay2.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/promo-smile.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/promo-hold2.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./gallery.js"></script>
</section>
