<section class="slider">
  <div class="container container--slider">
    <h2 class="visually-hidden">Отзывы покупателей</h2>
    <div class="slider__box _anim-items _anim-no-hide">
      <div class="slider-one">
        <div class="slider-one__card">
          <img
            class="slider-one__image"
            src="./images/slider/tanya.png"
            alt="Покупатель"
          />
          <div class="slider-one__box">
            <p class="slider-one__text">
              Why do I love ice cream so much? There is nothing better to have a
              frozen snack on hot summer days. Ice cream also helps me forget
              the tough day I have because it makes me reminisce about the good
              times I had with ice cream when I was a child. When I am sad,
              eating ice cream will be there to cheer me up!
            </p>
            <div class="slider-one__inner">
              <div class="slider-one__gradient"></div>
            </div>
          </div>
        </div>
        <div class="slider-one__card">
          <img
            class="slider-one__image"
            src="./images/slider/vera.png"
            alt="Покупатель"
          />
          <div class="slider-one__box">
            <p class="slider-one__text">
              I love ice cream because my kids love it. This is a great treat at
              any time of the year and for any company.
            </p>
            <div class="slider-one__inner">
              <div class="slider-one__gradient"></div>
            </div>
          </div>
        </div>
        <div class="slider-one__card">
          <img
            class="slider-one__image"
            src="./images/slider/sasha.png"
            alt="Покупатель"
          />
          <div class="slider-one__box">
            <p class="slider-one__text">
              This is the best kind of dessert for me. I like ice cream in all
              its forms. On hot summer days I can eat more than a kilogram of
              this delicious. Some of its notes sound like the best works of
              world musical classics. I really like ice cream.
            </p>
            <div class="slider-one__inner">
              <div class="slider-one__gradient"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-two">
        <div class="slider-two__card">
          <ul class="slider-two__dots-list">
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
          </ul>
          <p class="slider-two__info">Tatyana Strelkova, Odessa</p>
        </div>
        <div class="slider-two__card">
          <ul class="slider-two__dots-list">
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
          </ul>
          <p class="slider-two__info">Vera Khomenko, Kyiv</p>
        </div>
        <div class="slider-two__card">
          <ul class="slider-two__dots-list">
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
          </ul>
          <p class="slider-two__info">Sasha Sytsenko, Brovary</p>
        </div>
      </div>
    </div>
  </div>
</section>
