<section class="slider">
  <div class="container container--slider">
    <h2 class="visually-hidden">Отзывы покупателей</h2>
    <div class="slider__box">
      <div class="slider-one">
        <div class="slider-one__card">
          <img
            class="slider-one__image"
            src="./images/slider/one.png"
            alt="Покупатель"
          />
          <div class="slider-one__box">
            <p class="slider-one__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="slider-one__inner">
              <div class="slider-one__gradient"></div>
            </div>
          </div>
        </div>
        <div class="slider-one__card">
          <img
            class="slider-one__image"
            src="./images/slider/two.png"
            alt="Покупатель"
          />
          <div class="slider-one__box">
            <p class="slider-one__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus!
            </p>
            <div class="slider-one__inner">
              <div class="slider-one__gradient"></div>
            </div>
          </div>
        </div>
        <div class="slider-one__card">
          <img
            class="slider-one__image"
            src="./images/slider/three.png"
            alt="Покупатель"
          />
          <div class="slider-one__box">
            <p class="slider-one__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus!!!
            </p>
            <div class="slider-one__inner">
              <div class="slider-one__gradient"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-two">
        <div class="slider-two__card">
          <ul class="slider-two__dots-list">
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
          </ul>
          <p class="slider-two__info">Emily, Los Angeles</p>
        </div>
        <div class="slider-two__card">
          <ul class="slider-two__dots-list">
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
          </ul>
          <p class="slider-two__info">Rossi, Chicago</p>
        </div>
        <div class="slider-two__card">
          <ul class="slider-two__dots-list">
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
            <li class="slider-two__dots-item"></li>
          </ul>
          <p class="slider-two__info">Sarah, Boston</p>
        </div>
      </div>
    </div>
  </div>
</section>
