<section class="locations">
  <div class="container locations-wraper">
    <h2 class="title visually-hidden">
      <span class="first-title">our location</span>
      <br />
      <span class="second-title">work schedule</span>
    </h2>
    <ul class="locations__list">
      <li class="locations__item">
        <h3 class="locations__caption locations__caption--cafe">cafe</h3>
        <h4 class="locations__title">Chicago</h4>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-schedule">
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Monday - Friday</p>
            <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Saturday - Sunday</p>
            <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address-nav">
          <ul class="address-nav__list">
            <li>
              <a href="tel:+610383766284" class="address-nav__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="address-nav__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="locations__item">
        <h3 class="locations__caption locations__caption--truck">food truck</h3>
        <h4 class="locations__title">Los Angeles</h4>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-schedule">
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Monday - Friday</p>
            <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Saturday - Sunday</p>
            <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address-nav">
          <ul class="address-nav__list">
            <li>
              <a href="tel:+610383766284" class="address-nav__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="address-nav__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="locations__item">
        <h3 class="locations__caption locations__caption--cafe">cafe</h3>
        <h4 class="locations__title">New York</h4>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-schedule">
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Monday - Friday</p>
            <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Saturday - Sunday</p>
            <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address-nav">
          <ul class="address-nav__list">
            <li>
              <a href="tel:+610383766284" class="address-nav__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="address-nav__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="locations-button-list">
      <li>
        <button
          type="button"
          class="button button__location button__location--locations"
          aria-label="Our Locations"
        >
          Our Locations
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button button__location button__location--franchise"
          aria-label="Franchise"
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- То что можно добавить в общий класс
  .button

  добавить 
  transition: $tt: 150ms; $tf: cubic-bezier(0.4, 0, 0.2, 1);

  ::after {
      position: relative;top: 2px;  (подправляет положении стрелки)}

    &:hover,
    &:focus {
      background-color: $btn2-hover; (добавляет ховер для наших светлых кнопок)
    }
 -->


 <!-- как будет выглядеть при добавлении!!!!
  
  .button {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: inline-flex;
  min-width: 176px;
  min-height: 44px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: $btn1-prod-loc; 
  background-color: $polar;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;

  transition: $tt: 150ms; $tf: cubic-bezier(0.4, 0, 0.2, 1); (добавляет трансформацию)

  &:hover,&:focus {background-color: $btn2-hover; (добавляет ховер для наших светлых кнопок)}
}

.button::after {
  content: '\003E';
  position: relative;top: 2px;  (подправляет положении стрелки)}
  margin-left: 14px;
  color: $btn1-prod-loc;
} -->
