<section class="locations">
  <div id="menu-locations" class="container locations-container">
    <h2 class="title visually-hidden">
      <span class="first-title">our location</span>
      <br />
      <span class="second-title">work schedule</span>
    </h2>
    <ul class="locations__list">
      <li class="locations__item _anim-items _anim-no-hide">
        <h3 class="locations__caption locations__caption--cafe">cafe</h3>
        <h4 class="locations__title">Chicago</h4>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-schedule">
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Monday - Friday</p>
            <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Saturday - Sunday</p>
            <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address-nav">
          <ul class="address-nav__list">
            <li>
              <a href="tel:+610383766284" class="address-nav__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="address-nav__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="locations__item _anim-items _anim-no-hide">
        <h3 class="locations__caption locations__caption--truck">food truck</h3>
        <h4 class="locations__title">Los Angeles</h4>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-schedule">
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Monday - Friday</p>
            <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Saturday - Sunday</p>
            <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address-nav">
          <ul class="address-nav__list">
            <li>
              <a href="tel:+610383766284" class="address-nav__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="address-nav__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="locations__item _anim-items _anim-no-hide">
        <h3 class="locations__caption locations__caption--cafe">cafe</h3>
        <h4 class="locations__title">New York</h4>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="locations-schedule">
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Monday - Friday</p>
            <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="locations-schedule__item">
            <p class="locations-schedule__text">Saturday - Sunday</p>
            <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address-nav">
          <ul class="address-nav__list">
            <li>
              <a href="tel:+610383766284" class="address-nav__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="address-nav__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="locations-button-list">
      <li>
        <button
          type="button"
          class="button button__location button__location--locations _anim-items _anim-no-hide"
          aria-label="Our Locations"
          locations-data-modal-open
        >
          <span> Our Locations</span>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button button__location button__location--franchise _anim-items _anim-no-hide"
          aria-label="Franchise" data-modal-open>
          <span>Franchise</span>
        </button>
      </li>
    </ul>
  </div>
  
</section>

<div class="locations-backdrop is-hidden" locations-data-modal>
  <div class="locations-modal">
    <button type="button" class="locations-button-close" aria-label="Закрыть" locations-data-modal-close>
      <svg class="locations-button-close__icon" width="18" height="18">
        <use href="./images/sprite_work.svg#icon-menu-close"></use>
      </svg>
    </button>

    <address>
      <p class="locations-modal__label">Our address:<span class="locations-modal__text">Lesi Ukrainky Blvd, 26, Kyiv, 01133</span></p>
    </address>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2541.7792672434916!2d30.5361971!3d50.4265841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2zR29JVDog0JrRg9GA0YHRiyDQv9GA0L7Qs9GA0LDQvNC80LjRgNC-0LLQsNC90LjRjyDQsiDQmtC40LXQstC1IHwgSVQg0JrRg9GA0YHRiw!5e0!3m2!1sen!2sua!4v1603106866335!5m2!1sen!2sua"
      width="100%" height="80%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"
      class="locations-modal__map">
    </iframe>
    <a href="https://goo.gl/maps/MwybykdnRvj32D8D9" class="locations-modal__link" target="blank">Zoom map</a>
  </div>
</div>


