<section class="locations">
  <h2 class="title">
    <span class="first-title">our location</span>
    <br>
    <span class="second-title">work schedule</span>
  </h2>
  <ul class="locations__list">
    <li class="locations__item">
      <h3 class="locations__caption locations__caption--odd">cafe</h3>
      <h4 class="locations__title">Chicago</h4>
      <p class="locations__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <ul class="schedule">
        <li class="schedule__item">
          <p class="schedule__text">Monday - Friday</p>
          <p class="schedule__time">06:00 AM - 10:00 PM</p>
        </li>
      </ul>
      <address class="address-nav">
        <ul class="address-nav__list">
          <li>
            <a href="tel:+610383766284" class="address-nav__link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="address-nav__link">mailto:noreply@envato.com</a>
          </li>
        </ul>
      </address>
    </li>
    <li class="locations__item">
      <h3 class="locations__caption locations__caption--even">foodtruck</h3>
      <h4 class="locations__title">Los Angeles</h4>
      <p class="locations__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <ul class="schedule">
        <li class="schedule__item">
          <p class="schedule__text">Monday - Friday</p>
          <p class="schedule__time">06:00 AM - 10:00 PM</p>
        </li>
      </ul>
      <address class="address-nav">
        <ul class="address-nav__list">
          <li>
            <a href="tel:+610383766284" class="address-nav__link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="address-nav__link">mailto:noreply@envato.com</a>
          </li>
        </ul>
      </address>
    </li>
    <li class="locations__item">
      <h3 class="locations__caption locations__caption--odd">cafe</h3>
      <h4 class="locations__title">New York</h4>
      <p class="locations__text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <ul class="schedule">
        <li class="schedule__item">
          <p class="schedule__text">Monday - Friday</p>
          <p class="schedule__time">06:00 AM - 10:00 PM</p>
        </li>
      </ul>
      <address class="address-nav">
        <ul class="address-nav__list">
          <li>
            <a href="tel:+610383766284" class="address-nav__link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="address-nav__link">mailto:noreply@envato.com</a>
          </li>
        </ul>
      </address>
    </li>
  </ul>
  <ul class="locations-button-list">
    <li>
      <button type="button" class="button locations-button" aria-label="Our Locations">
        <span class="locations-button__text">Our Locations</span>
        <svg class="locations-button__icon" width="4" height="8">
          <use href="./images/svg_in_sprite/arrow-right.svg"></use>
        </svg>
      </button>
    </li>
    <li>
      <button type="button" class="button franchise-button" aria-label="Franchise">
        <span class="franchise-button__text">Franchise</span>
        <svg class="franchise-button__icon" width="4" height="8">
          <use href="./images/svg_in_sprite/arrow-right2.svg"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
