<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <h2 class="footer__first-title first-title _anim-items _anim-no-hide">
        homemade ice cream made
      </h2>
      <h3 class="footer__second-title second-title _anim-items _anim-no-hide">
        <span>w</span><span>i</span><span>t</span><span>h</span> <span>p</span
        ><span>a</span><span>s</span><span>s</span><span>i</span><span>o</span
        ><span>n</span>
      </h3>
    </div>
    <ul class="list-footer _anim-items _anim-no-hide">
      <li class="list-footer__item">
        <a href="#0" aria-label="github" class="list-footer__link"></a>
      </li>
      <li class="list-footer__item">
        <a href="#0" aria-label="telegram" class="list-footer__link"></a>
      </li>
      <li class="list-footer__item">
        <a href="#0" aria-label="facebook" class="list-footer__link"></a>
      </li>
      <li class="list-footer__item _anim-items _anim-no-hide">
        <b class="footer__contact"
          >Feel free to contact
          <a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></b
        >
      </li>
    </ul>
  </div>
  <div class="footer__copyright container">
    <p class="copyright _anim-items _anim-no-hide">
      &copy; 2019 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
