<div class="container__relative">
  <header id="header" class="header">
    <a href="./index.html" class="logo">
      <img
        class="logo__img"
        src="/images/desktop/logo.png"
        alt="Icecream logo"
        width="199"
        height="50"
      />
    </a>
    <div
      class="header__burger header__flexbox"
      id="burger"
      data-menu
      data2-menu
    >
      <button class="button flexbox burger__btn burger__btn--tab" type="button">
        Buy now
      </button>
      <nav class="navigation">
        <ul class="list header__flexbox navigation__list">
          <li class="navigation__item">
            <a
              href="#header"
              class="link navigation__link navigation__link--current"
              data-menu-link
              >Home</a
            >
          </li>
          <li class="navigation__item">
            <a href="#promo" class="link navigation__link" data-menu-link
              >About us</a
            >
          </li>
          <li class="navigation__item">
            <a href="#development" class="link navigation__link" data-menu-link
              >How it’s made?</a
            >
          </li>
          <li class="navigation__item">
            <a href="#products" class="link navigation__link" data-menu-link
              >Our products</a
            >
          </li>
          <li class="navigation__item">
            <a href="#locations" class="link navigation__link" data-menu-link
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <button class="button flexbox burger__btn burger__btn--desk" type="button">
      Buy now
    </button>
    <button
      type="button"
      class="header__button flexbox"
      data-menu-button
      data2-menu-button
      aria-label="open and close menu button"
    >
      <span class="fa fa-times header__button--cross" aria-hidden="true"></span>
      <span class="fa fa-bars header__button--menu" aria-hidden="true"></span>
      <!-- <svg
        viewbox="0 0 64 64"
        class="header__button--cross"
        width="24"
        height="24"
        aria-expanded="false"
        aria-controls="burger"
        aria-label="Mobile menu switcher"
      >
        <line
          x1="9.37"
          x2="54.63"
          y1="9.37"
          y2="54.63"
          fill="none"
          stroke-miterlimit="10"
          stroke-width="4"
        />
        <line
          x1="9.37"
          x2="54.63"
          y1="54.63"
          y2="9.37"
          fill="none"
          stroke-miterlimit="10"
          stroke-width="4"
        />
      </svg>

      <svg
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewbox="0 0 32 32"
        class="header__button--menu"
        width="24"
        height="24"
        aria-expanded="false"
        aria-controls="burger"
        aria-label="Mobile menu switcher"
      >
        <path class="header__button--menu" d="M4 8h24M4 16h24M4 24h24" />
      </svg> -->
    </button>
  </header>
  <script src="./menu.js"></script>
  <script src="./btn.js"></script>
</div>
