<div class="container relative">
  <header class="header">
    <a href="./src/index.html" class="logo">
      <img src="../images/logo.png" alt="Icecream logo" />
    </a>
    <button type="button" class="header__button" data-menu-button>
      <svg
        width="20"
        height="20"
        aria-expanded="false"
        aria-controls="burger"
        aria-label="Mobile menu switcher"
      >
        <use
          class="header__button--cross"
          href="../images/menu-close.svg"
        ></use>
        <use class="header__button--menu" href="../images/menu.svg"></use>
      </svg>
    </button>
    <div class="header__burger flexbox" id="burger" data-menu>
      <button class="btn burger__btn burger__btn--tab" type="button">
        Buy now
        <svg width="6px" height="8px">
          <use class="btn-icon" href="../images/further.svg"></use>
        </svg>
      </button>
      <nav class="navigation">
        <ul class="list flexbox navigation__list">
          <li class="navigation__item navigation__item">
            <a href="./" class="link navigation__link navigation__link--current"
              >Home</a
            >
          </li>
          <li class="navigation__item">
            <a href="./" class="link navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="./" class="link navigation__link">How it’s made?</a>
          </li>
          <li class="navigation__item">
            <a href="./" class="link navigation__link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="./" class="link navigation__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="btn burger__btn burger__btn--desk" type="button">
      Buy now
      <svg width="6px" height="8px">
        <use class="btn-icon" href="../images/further.svg"></use>
      </svg>
    </button>
  </header>
</div>
