<!-- <h1 class="test">ГЕРОЙ ХЕДЕРА Вера Хоменко</h1> -->
<section class="hero__indented">
  <div class="hero__flex">
    <div class="hero__position">
      <h1 class="hero__order-title">
        ice cream made with
       <span class="hero__order-title--accent"><span>p</span><span>a</span><span>s</span><span>s</span><span>i</span><span>o</span><span>n</span></span>
      </h1>
      
      <button type="button" class="hero__button">Products</button>
      <button type="button" class="hero__button--max">How it’s made?</button>


      <picture class="hero__hidden hero__milk">
        <img srcset="
            ./images/tablet/bio.png     124w,
            ./images/tablet/bio@2x.png  248w,
            ./images/desktop/bio.png    188w,
            ./images/desktop/bio@2x.png 376w
          " sizes="(min-width: 1200px) 188w, 
               (min-width: 768px) 124w" src="./images/tablet/bio.png" alt="photo" class="img" />
      </picture>
    </div>
    <div class="hero__description">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>

      <a class="hero__link" href="#">
        <button type="button" class="hero__icon-further">
          <svg class="hero__icon-arrow" >
            <use href="./images/sprite_work.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </a>
    </div>
    <div class="hero__ice">
      <picture class="hero__ice-img">
        <img srcset="
            ./images/mobile/heroice.png     171w,
            ./images/mobile/heroice@2x.png  342w,
            ./images/tablet/heroice.png     143w,
            ./images/tablet/heroice@2x.png  286w,
            ./images/desktop/heroice.png    236w,
            ./images/desktop/heroice@2x.png 472w
          " sizes="(min-width: 1280px) 236w, 
               (min-width: 768px) 143w, (min-width: 320px) 171w" src="./images/mobile/heroice.png" alt="photo"
          class="img" />
      </picture>
    </div>
    <div class="hero__decorate">
      <!-- <div class="hero__decorate-up"> -->
        <p class="hero__text-min"><span class="hero__text-min--accent">16</span><br />cafes</p>
      <p class="hero__text-min"><span class="hero__text-min--accent">23</span><br />food trucks</p>
     <!-- </div>   -->
      <!-- <div class="hero__decorate-tasty"> -->
      <picture class="hero__tasty">
        <img srcset="./images/tablet/tasty.png 168w,
             ./images/tablet/tasty@2x.png 336w,
             ./images/desktop/tasty.png 293w,
               ./images/desktop/tasty@2x.png 586w" sizes="(min-width: 1200px) 293w, 
               (min-width: 768px) 168w, 
               100vw" src="./images/tablet/tasty.png" alt="photo" class="img" />
      </picture>
      <!-- </div> -->
    </div>
  </div>
</section>