<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="./" class="logo">Project</a>
        <nav class="navigation flexbox">
            <ul class="navigation__menu flexbox">
                <li class="navigation__link"><a href="">Main</a></li>
                <li class="navigation__link"><a href="">Secondary</a></li>
                <li class="navigation__link"><a href="">Contacts</a></li>
            </ul>
            
            <ul class="navigation__contacts flexbox">
                <li class="navigation__contact"><a href="mailto:mail@gmail.com"></a>mail@gmail.com</li>
                <li class="navigation__contact"><a href="tel:+380971111111"></a>+38 (097) 111 11 11</li>
            </ul>
        </nav>
    </header>
</body>
</html>